In [8]:
import pandas as pd

In [55]:
df = pd.read_csv("Lekagul Sensor Data.csv")
df.head()

             Timestamp              car-id car-type      gate-name
0  2015-05-01 00:43:28  20154301124328-262        4      entrance3
1  2015-05-01 01:03:48  20154301124328-262        4  general-gate1
2  2015-05-01 01:06:24  20154301124328-262        4   ranger-stop2
3  2015-05-01 01:09:25  20154301124328-262        4   ranger-stop0
4  2015-05-01 01:12:36  20154301124328-262        4  general-gate2

In [106]:
df = df.sort_values(by=['car-id','Timestamp']).reset_index(drop=True)
df['route'] = ""
df['level'] = df.sort_values(['Timestamp']).groupby(['car-id']).cumcount() + 1
df.tail()

,Timestamp,car-id,car-type,gate-name,route,level,RN
171472,2016-03-29 13:05:01,20165929105935-538,2P,general-gate5,,17,17
171473,2016-03-29 13:13:51,20165929105935-538,2P,gate8,,18,18
171474,2016-03-29 13:15:15,20165929105935-538,2P,ranger-base,,19,19
171475,2016-03-30 18:59:38,20165930065938-555,3,entrance3,,1,1
171476,2016-03-30 19:20:28,20165930065938-555,3,entrance0,,2,2

In [118]:
df['RN'] = df.sort_values(['Timestamp']).groupby(['car-id'])['gate-name'].apply(','.join).reset_index()

In [120]:
df.tail()

,Timestamp,car-id,car-type,gate-name,route,level,RN
171472,2016-03-29 13:05:01,20165929105935-538,2P,general-gate5,,17,NaN
171473,2016-03-29 13:13:51,20165929105935-538,2P,gate8,,18,NaN
171474,2016-03-29 13:15:15,20165929105935-538,2P,ranger-base,,19,NaN
171475,2016-03-30 18:59:38,20165930065938-555,3,entrance3,,1,NaN
171476,2016-03-30 19:20:28,20165930065938-555,3,entrance0,,2,NaN

In [78]:
for index, row in df[:5].iterrows():
    print(index, row[['car-id', 'gate-name']])

0 car-id       20150001010009-284
gate-name             entrance3
Name: 0, dtype: object
1 car-id       20150001010009-284
gate-name         general-gate1
Name: 1, dtype: object
2 car-id       20150001010009-284
gate-name          ranger-stop2
Name: 2, dtype: object
3 car-id       20150001010009-284
gate-name          ranger-stop0
Name: 3, dtype: object
4 car-id       20150001010009-284
gate-name         general-gate2
Name: 4, dtype: object

In [81]:
df_prep = pd.DataFrame()
car_id = ''
route = ''
level = 1
for index, row in df.iterrows():
    if car_id!=row['car-id']:
        car_id = row['car-id']
        route = df.iloc[index]['gate-name']
        level = 1
        df.iloc[index]['route'] = route
        df.iloc[index]['level'] = level
    else :
        route = route + ">" + df.iloc[index]['gate-name']
        level+=1
        df.iloc[index]['route'] = route
        df.iloc[index]['level'] = level
    if(index%1000==0) : print(index)
# for i in df['car-id'].unique():
#     df_ = df[df['car-id']==i]
#     df_

c:\program files\python36\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
c:\program files\python36\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
c:\program files\python36\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
c:\program files\python36\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000

KeyboardInterrupt:

In [103]:
df['RN'] = df.sort_values(['Timestamp']).groupby(['car-id']).cumcount() + 1

In [105]:
df['RN']

0          1
1          2
2          3
3          4
4          5
5          6
6          7
7          8
8          9
9          1
10         2
11         3
12         4
13         5
14         6
15         1
16         2
17         3
18         4
19         5
20         6
21         7
22         1
23         2
24         3
25         4
26         5
27         6
28         7
29         8
          ..
171447    11
171448    12
171449    13
171450    14
171451    15
171452    16
171453    17
171454    18
171455    19
171456     1
171457     2
171458     3
171459     4
171460     5
171461     6
171462     7
171463     8
171464     9
171465    10
171466    11
171467    12
171468    13
171469    14
171470    15
171471    16
171472    17
171473    18
171474    19
171475     1
171476     2
Name: RN, Length: 171477, dtype: int64

# df.head()