In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Lekagul Sensor Data.csv")
df.head()

             Timestamp              car-id car-type      gate-name
0  2015-05-01 00:43:28  20154301124328-262        4      entrance3
1  2015-05-01 01:03:48  20154301124328-262        4  general-gate1
2  2015-05-01 01:06:24  20154301124328-262        4   ranger-stop2
3  2015-05-01 01:09:25  20154301124328-262        4   ranger-stop0
4  2015-05-01 01:12:36  20154301124328-262        4  general-gate2

In [3]:
# df = df.sort_values(by=['car-id','Timestamp']).reset_index(drop=True)
# df['route'] = ""
df['level'] = df.sort_values(['Timestamp']).groupby(['car-id']).cumcount() + 1
df.tail()

                  Timestamp              car-id car-type      gate-name  level
171472  2016-05-31 23:40:13  20161031111001-854        6   ranger-stop2      4
171473  2016-05-31 23:42:08  20165831105856-579        1  general-gate4      6
171474  2016-05-31 23:43:13  20161031111001-854        6  general-gate1      5
171475  2016-05-31 23:49:45  20165831105856-579        1  general-gate7      7
171476  2016-05-31 23:56:06  20161031111001-854        6  general-gate4      6